@require(path_for, nodes)
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile</title>
    <link rel="stylesheet" href="@url('static', 'profile.css')">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="@url('static', 'profile.js')"></script>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
<header>
    <i class="fas fa-user"></i>
    <p style="font-family: 'Times New Roman',
         Times, serif; font-size: 30px;">
        Welcome to your profile!</p>
        <button id="logout-button" 
        type="button" onclick="logout()">Log Out</button>

</header>
<main>
    <button id="add-button" type="button"
    onclick="formHandler1.openForm()">Add</button>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="open"
                  onclick="formHandler1.closeForm()">&times;</span>
            <h2>Write something in the cloud:</h2>
            <form method="post">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title"
                       maxlength="15" value="{{ request.form['title'] }}"
                       placeholder="Title (max 15 chars)"><br><br>
                <label for="text">Your Text:</label>
                <textarea id="text" name="text" rows="4" required
                          placeholder="Enter your text...">
                    {{ request.form['text'] }}</textarea>
                <button type="button" onclick="formHandler1.submitForm()">Send</button>
            </form>
        </div>
    </div>
    <p style="text-align:center;
        font-size:40px;font-weight: bold;
        color:rgb(2, 2, 59);font-style:italic;">My Notes</p>
    <table id="texts-table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Text</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        @for node_id, node_data in nodes.items():
        <tr data-node-id="{{ node_id }}">
            <td>{{ node_data.title }}</td>
            <td>{{ node_data.text }}</td>
            <td><button onclick="editNode('{{ node_id }}')">
                    <i class="fas fa-pencil-alt"></i></button></td>
            <td><button onclick="deleteNode('{{ node_id }}')">
                    <i class="fas fa-times"></i></button></td>
        </tr>
        @end
        </tbody>
    </table>
</main>
<footer>
    <p>Contact: your.email@example.com</p>
</footer>
</body>
@end
